@import "less/bootstrap.less";
@import "variables.less";
ul{
  list-style:none;
  }
.logo{
  margin: 8px;
}
.mint{
font-size: 8pt;
height: 2px;
color: #FF0000;
}
.rfloat{
float: right;
}
.lfloat{
float: left;
}
.strong600{
	height: 600px;
}
.shad{
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.83);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.83);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.83);
}
.imglist{margin:8px;}
.collist {
  column-count:2;
}
.imgflaflist{
   float: right;
  margin-right:12px
 }