extends ../layout

block content
  div
    form(method='POST' action='/records/add/') Добавить альбом
      br
      b Название
      br
      input(type='text' name ='record_name')
      br
      b Группа
      br
      input(type='text' name ='record_group')
      br
      b Год
      br
      input(type='text' name ='record_year')
      br
      input(type='submit')
  a(href='/bands/') Назад