extends ../layout

block content
  div
    form(method='POST' action='/admin/records/del') Удалить 
      input(type='hidden' name ='_method' value='delete')
      input(type='hidden' name ='rid' value=record.rid)
      br
      div #{record.title}?
      br
      input(type='submit')
  a(href='/admin/records/') Назад