extends ../layout

block content
  h3= title
  ul.nav.nav-list
    - for (var r in recordsList)
      li
        div.row
          div.col-md-8
            a(href='/records/'+recordsList[r].rid)
              img.img-rounded(src='/images/covers/'+recordsList[r].group.bid+'/tumbs/'+recordsList[r].cover, width="40px")
              &nbsp;
              =recordsList[r].title+" ("+recordsList[r].group.name+") "+recordsList[r].year
  a(href='/admin/records/add')
    i.glyphicon.glyphicon-plus
