extends ../layout

block content
  h3= title
  ul.nav.nav-list
    - for (var r in recordsList)
      li
        div.row
          div.col-md-4
            a(href='/records/'+r.rid)
              i.glyphicon.glyphicon-music &nbsp;
              =recordsList[r].title+" ("+recordsList[r].group+") "+recordsList[r].year
          div.col-md-1
            a(href='/records/edit/'+recordsList[r].rid)
              i.glyphicon.glyphicon-edit
              &nbsp;
              &nbsp;
            a(href='/records/del/'+recordsList[r].rid)
              i.glyphicon.glyphicon-remove.mint
          
  a(href='/records/add')
    i.glyphicon.glyphicon-plus
	