extends layout

block content
  h3= title

  div.row
    - for (var b in bandsList)
      div.col-sm-8.col-md-3.strong600
        div.thumbnail
          img.img-rounded.shad(src="/images/main/"+bandsList[b].mainImage, width="180px")
          div.caption
            h3
              =bandsList[b].name
            p
              =bandsList[b].short
            p
              a.btn.btn-primary(href="#" role="button") Button

  p Nothing here {{'yet' + '!'}}
  
  ul
    li(ng-repeat="phone in bandsList")
      span {{phone.name}}
      p {{phone.short}}
