doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
   body
     div.row
       div.col-md-4
         img.img-circle.logo.right(src="/images/bands.jpg", width="180px")
       div.col-md-8
         h1
           a(href="http://online-letters.ru/" target="_blank")
             img(src="http://x-lines.ru/letters/i/cyrillicfancy/1042/3e3a37/36/0/4nppbcgozmem7wfh4n47bqjb.png" border="0")
         h4 Хорошая восточно-чукотская музыка
     div.row
       div.col-md-10.col-sm-offset-1
         br
         br
         block content