doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/angular/angular.js')
  body
    div.row
      div.col-md-4
        img.img-circle.logo(src="/images/bands.jpg", width="180px")
      div.col-md-8 
        h1 Kakomey!!!
    div.row
      div.col-md-10.col-sm-offset-1
        block content