extends ../layout

block content
  div
    form(method='POST' action='/bands/del') Удалить группу
      input(type='hidden' name ='_method' value='delete')
      input(type='hidden' name ='bid' value=band.bid)
      br
      div #{band.name}?
      br
      input(type='submit')
  a(href='/bands/') Назад