extends ../layout

block content
  div
    form(method='POST' action='/musicians/del') Удалить группу
      input(type='hidden' name ='_method' value='delete')
      input(type='hidden' name ='aid' value=person.aid)
      br
      div #{person.name}?
      br
      input(type='submit')
  a(href='/musicians/') Назад