extends ../layout

block content
  h3= title

  ul.nav.nav-list
    - for (var m in musicianList)
      li
        div.row
          div.col-md-4
            a(href='/musicians/'+musicianList[m].aid)
              i.glyphicon.glyphicon-music &nbsp;
              =musicianList[m].name
          div.col-md-1
            a(href='/musicians/edit/'+musicianList[m].aid)
              i.glyphicon.glyphicon-edit
              &nbsp;
              &nbsp;
            a(href='/musicians/del/'+musicianList[m].aid)
              i.glyphicon.glyphicon-remove.mint
          
  a(href='/musicians/add')
    i.glyphicon.glyphicon-plus