extends ../layout

block content
  h3= title
  ul.nav.nav-list
    - for (var r in recordsList)
      li
        div.row
          div.col-md-8
            a(href='/records/'+recordsList[r].rid)
              img.img-rounded(src="/images/covers/"+recordsList[r].group.bid+"/tumbs/"+recordsList[r].cover, width="40px")
              &nbsp;
              =recordsList[r].title+" ("+recordsList[r].group.name+") "+recordsList[r].year
          div.col-md-1
            a(href='/admin/records/edit/'+recordsList[r].rid)
              i.glyphicon.glyphicon-edit
              &nbsp;
              &nbsp;
            a(href='/admin/records/del/'+recordsList[r].rid)
              i.glyphicon.glyphicon-remove.mint
  a(href='/admin/records/add')
    i.glyphicon.glyphicon-plus
