extends ../layout

block content
  h3= title

  div.nav.nav-list.collist
    div.row
    - for (var b = 0; b < bandsList.length; b++)
          div.col-md-4
            a(href='/bands/'+bandsList[b].bid)
              img.img-rounded.imglist(src='/images/main/'+bandsList[b].mainImage, width="40px",height="32px")
              &nbsp;
              &nbsp;
              =bandsList[b].name
              img.imgflaflist(src='/images/flags/'+bandsList[b].state+'.png', width="28px")

          
  a(href='/bands/add')
    i.glyphicon.glyphicon-plus