doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
	script(src='/javasripts/bootstrap.js')
  body
    img(src="/images/bands.jpg", .img-circle)
    block content